.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: aliceblue;
}


.row {
  display: flex;
  flex-direction: row;
}

.purpleheader {
  font-size: 48px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  color: rgb(174, 95, 249);
  margin-top: 70px;
}

.column {
  display:flex;
  flex-direction: column;
}