.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: aliceblue;
}


.row {
  display: flex;
  flex-direction: row;
}

.purpleheader {
  font-size: 48px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  color: rgb(174, 95, 249);
  margin-top: 80px;
}

.column {
  display:flex;
  flex-direction: column;
}


.colorrow {
  background-color: #FAE29C;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.piccolumn {
  display:flex;
  flex-direction: column;
  margin-left: 10px;
}

.headercontentcolumn{
  display:flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 100px;
}

.headerfont {
  color: rgb(27, 106, 255);
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  width: 900px;
  margin-top: 20px;

}

.contentfont {
  font-size: 26px;
  color: rgb(31, 31, 31);
  font-weight: 500;
}

.rightycolumn {
  display: flex;
  flex-direction: column;
  margin-left: -1300px;
}
.leftycolumn {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.spacing {
  margin-left: 80px;
}


.maincontainer{
  flex-direction: row;
  width: 250px;
  height: 320px;
  display: flex;
  transform: translate(-50%, -50%);
  margin-left: 220px;
  margin-top: 200px;

}
.maincontainer2{
  flex-direction: row;
  width: 250px;
  height: 320px;
  display: flex;
  transform: translate(-50%, -50%);
  margin-left: 190px;
  margin-top: 200px;

}
.maincontainer3{
  flex-direction: row;
  width: 250px;
  height: 320px;
  display: flex;
  transform: translate(-50%, -50%);
  margin-left: 200px;
  margin-top: 200px;

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction:column;
  color: #FFFFFF;
  box-shadow: 10px 14px #888888;
  border-radius: 8px;
  align-items: center;
  padding-top: 30px;
  justify-items:center;
  text-align: center;
  margin-bottom:30px;
  background-color:#31A8FF ;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  align-items: center;
  justify-items:center;
  object-fit: cover;
  transform: rotateY(180deg);

}
  
.thecard2:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront2{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction:column;
  color: #FFFFFF;
  box-shadow: 10px 14px #888888;
  border-radius: 8px;
  align-items: center;
  padding-top: 30px;
  justify-items:center;
  text-align: center;
  margin-bottom:30px;
  background-color:#FF9A00 ;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback2{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  align-items: center;
  justify-items:center;
  object-fit: cover;
  transform: rotateY(180deg);

}
  
.thecard2{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.typography {
  font-size: 21px;
color: #F2F2F2;
justify-content: center;
margin-top: 10px;
padding: 10px;
text-align:center;

}

.thecard3:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront3{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction:column;
  color: #FFFFFF;
  box-shadow: 10px 14px #888888;
  border-radius: 8px;
  align-items: center;
  padding-top: 30px;
  justify-items:center;
  text-align: center;
  margin-bottom:30px;
  background-color:#FF3366 ;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback3{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  align-items: center;
  justify-items:center;
  object-fit: cover;
  transform: rotateY(180deg);

}
  
.thecard3{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.hide {
  display: hidden;
}

.graphic + .hide {
  display: block;
  color: rgb(233, 233, 233);
  background-color: #888888;
}



.conty {
width: 100%;
height: 500px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: #888888;
margin-top: 350px;

}

.overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0;
transition: opacity 0.4s ease-in;
background: #888888;
cursor: pointer;
}

.contenty {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #F2F2F2;
text-align: center;
}

.conty:hover .overlay {
  opacity: 0.75;
}

.contactspace {
  margin-left: -150px;
  display: flex;
}